body{
    background-color: aliceblue;
    width: 1600px;
}

.piano{
    display: flex;
    left:50%;
}

.bianco, .nero{
    margin: 2px;
    border-style: solid;
    width: 50px;
}

.bianco{
    background-color: #ffffff;
    height: 250px;
}

.nero{
    position: relative;
    background-color: #000000;
    height: 150px;
    z-index: 2;
}
